html {
    user-select: none;
}
body {
    background-color: rgb(0, 0, 0);
}
h1 {
    color: white;
    font-family: 'Smooch', cursive;
    font-size: 32px;
    margin-top: 30px;
    margin-left: 36px;
    letter-spacing: 4px;
}

.navbar {
    display: flex;
}

.nav {
    display: flex;
    margin-left: auto;
    margin-right: 25px;
    letter-spacing: 5px;
}

.nav li {
    list-style-type: none;
}

.nav li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    letter-spacing: 3px;
    padding: 20px 10px 10px;
    transition: .5s;
}
.nav li a:hover {
    color: black;
    background-color: rgb(255, 255, 255);
    padding: 10px 10px 10px;
    transition: .5s;
    position: relative;
    justify-content: center;
}
h2 {
    color: red;
    margin-left: 160px;
    margin-right: auto;
    margin-top: 70px;
    font-family: 'Teko', sans-serif;
    letter-spacing: 3px;
    font-size: 30px;
    text-align: center;
    position:absolute;
}
.jpg {
    width: 320px;
    height: 370px;
    float: right;
    margin-left: auto;
    margin-right: 160px;
    margin-bottom: 70px;
    margin-top: 180px;
    background-color: rgb(255, 255, 255);
    padding: 15px 15px 15px;
    padding-bottom: 80px;
}
p {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 40px 50px;
    margin-left: 80px;
    margin-right: 750px;
    border-radius: 10px;
    margin-top: 240px;
    font-size: 20px;
    font-family: 'Mohave', sans-serif;
    letter-spacing: .5px;
    position: absolute;
}
h6 {
    color: rgb(0, 0, 0);
    margin-left: 882px;
    margin-right: auto;
    float: right;
    position: absolute;
    margin-top: 592px;
    font-size: 17px;
    font-family: 'Teko', sans-serif;
    letter-spacing: 2px;
}