* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    user-select: none;
}

body {
    background-color: rgb(0, 0, 0);
}

h1 {
    color: white;
    font-family: 'Smooch', cursive;
    font-size: 32px;
    margin-top: 30px;
    margin-left: 36px;
    letter-spacing: 4px;
}

.navbar {
    display: flex;
}

.nav {
    display: flex;
    margin-left: auto;
    margin-right: 35px;
    letter-spacing: 5px;
}

.nav li {
    list-style-type: none;
}

.nav li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    letter-spacing: 3px;
    padding: 20px 10px 10px;
    transition: .5s;
    margin-right: 10px;
}
.nav li a:hover {
    color: black;
    background-color: rgb(255, 255, 255);
    padding: 10px 10px 10px;
    transition: .5s;
    position: relative;
    justify-content: center;
}
h2 {
    color: red;
    margin-left: 160px;
    margin-right: auto;
    margin-top: 70px;
    font-family: 'Teko', sans-serif;
    letter-spacing: 3px;
    font-size: 30px;
    text-align: center;
    position:absolute;
}
.polaroid {
    width: 320px;
    display: block;
    margin-left: auto;
    margin-right: 200px;
    margin-top: 100px;
    background-color: white;
}

.container {
    text-align: center;
    padding: 10px 20px;
}

.jpg {
    width: 320px;
    height: 370px;
    padding: 10px 10px 0 10px;
}
.about-paragraph {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 40px 50px;
    margin-left: 80px;
    margin-right: 750px;
    border-radius: 10px;
    margin-top: 240px;
    font-size: 20px;
    font-family: 'Mohave', sans-serif;
    letter-spacing: .5px;
    position: absolute;
}
h6 {
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-family: 'Teko', sans-serif;
    letter-spacing: 2px;
}
.end {
    background-color: blue;
    height: 100%;
    margin-top: 250px;
}

.copyright {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}

.social-network {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 50px;
}
.icon {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    margin-right: 20px;
}
.insta {
    margin-top: 13px;
    margin-left: 15px;
    font-size: 35px;
  
}
.github {
    margin-top: 12px;
    margin-left: 14px;
    font-size: 35px;
  
}
.discord {
    margin-top: 13px;
    margin-left: 15px;
    font-size: 35px;
  
}
.insta a {
    color: black;
    text-decoration: none;
}
.insta a:hover {
    color: rgb(209, 6, 6);
}
.github a {
    color: black;
    text-decoration: none;
}
.github a:hover {
    color: rgb(78, 77, 77);
}
.discord a {
    color: black;
    text-decoration: none;
}
.discord a:hover {
    color: rgb(48, 103, 253);
}

.menu {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}

.menu a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    margin-right: 5px;
}

.menu a:not(:last-child)::after {
    white-space: pre;
	content: "     |     ";
}